<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../cells-i18n-behavior/cells-i18n-behavior.html">
<link rel="import" href="cells-gema-list-documents-dm-styles.html">
<link rel="import" href="../gema-cells-generic-dp/gema-cells-generic-dp.html"">
<dom-module id="cells-gema-list-documents-dm">
  <script src="cells-gema-list-documents-dm.js"></script>
</dom-module>